* {
    background-color: aliceblue;
    
}

body {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
background-color: blue;
color: white;
text-align: center;
font-weight: bolder;
}